  






        /**/
        * {
            margin: 0;
            padding: 0;
            
        }

        body {
            font-family: 'Tajawal', sans-serif;
            color: white;
           background-color: #151A25;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            overflow-x: hidden;
        }


/* Main card */
        .container {
            width: 100%;
            overflow: hidden;
            position: relative;
        }

        .content {
            display: flex;
            gap: 34px;
          
            align-items: flex-start;
        }

        /* left panel */
        .left {
            flex: 0 0 420px;
                   background-color: #0E646C;
;
            border-radius: 0px 0px 10px 10px;
            padding: 28px;
            padding-top: 70px;
            padding-bottom: 70px;
            margin-left: 4%;
            margin-top: 0;
            color: #FEFFE1;
            box-shadow: inset 0 -6px 18px rgba(0,0,0,0.25);
            position: relative;
        }

            .left h2 {
                font-size: 40px;
                font-weight: 700;
                margin-bottom: 18px;
                letter-spacing: 0.4px;
                color: #FEFFE1
            }

            .left p.lead {
                font-size: 20px;
                color: #FEFFE1; margin-bottom: 20px;
                line-height: 1.5;
            }

            .left p.small {
                color: rgba(255,255,255,0.85);
                opacity: 0.8;
                font-size: 18px;
                line-height: 1.4;
            }


    


h2 {
  margin-bottom: 15px;
  color: #ffffff;

}
/*Table*/
#tableBody{
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

 .right h3 {
            font-size: 28px;
            margin-bottom: 20px;
            color: #7ce3e1;
        }

        .right p {
            font-size: 18px;
            margin-bottom: 20px;
            line-height: 1.6;
        }

        .right table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        .right th, .right td {
            border: 2px solid #444;
            padding: 12px;
            text-align: center;
        }

        .right th {
            color: #f3eed5;
            background-color: #1f2735; 
        }

        /*for today's crowd*/
        .low {
            background-color: #3fc36c;
            color: white;
            padding: 5px 8px;
            border-radius: 6px;
        }

        .medium {
            background-color: #f4c542;
            color: black;
            padding: 5px 8px;
            border-radius: 6px;
        }

        .high {
            background-color: #e44c4c;
            color: white;
            padding: 5px 8px;
            border-radius: 6px;
        }

.update {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

 /* crowd Levels */
        .crowdLevels {
            display: flex;
            gap: 24px;
            justify-content: flex-start;
            margin-top: 60px;
            margin-left: 20px;
            align-items: center;
        }

            .crowdLevels .item {
                display: flex;
                align-items: center;
                gap: 8px;
                font-weight: 600;
           
            }

            .crowdLevels .bar {
                width: 44px;
               
                height: 6px;
                border-radius: 6px;
              
            }
        .bar.high {
         
            background: linear-gradient(90deg,#b92b2b,#e04b4b)
        }

        .bar.medium {
           
            background: linear-gradient(90deg,#cfa03a,#e6b648)
        }

        .bar.low {
            background: linear-gradient(90deg,#2db36f,#2fbf86)
        }



        /* Right panel */
        .right {
            background-color:none;
            flex: 1;
            margin-right: 5%;
            padding: 40px;
            text-align: left;
            color: #eee;
        }

            .right h3 {
                font-size: 28px;
                margin-bottom: 20px;
                color: #7ce3e1;
            }

            .right p {
                font-size: 18px;
                margin-bottom: 20px;
                line-height: 1.6;
            }

            .right table {
                width: 100%;
                border-collapse: collapse;
                margin-top: 20px;
            }

           .right td {
                border: 2px solid #ffffff47;
                padding: 12px;
                text-align: center;
            }
              .right th{
                border: 2px solid #ffffff44;
                padding: 12px;
                text-align: center;
              }

            .right th {
              
                color: #ffffffb6;
            }


            table tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}
table {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
}

#update-info {
  font-size: 1.1rem;
  color: #b0c4de;
  margin-top: 30px;
}
/*button*/



 /* department option*/
        .dep{
            margin: 20px 0; 
            text-align: right;
            font-weight: bold;
        }
        
        .dep label {
            margin-right: 10px;
        }
        
        .dep option {
            font-weight: bold;
            background-color: #0E646C;
            color: azure
        }
        
        .dep select {
            border-radius: 4px;
            background-color: #151A25;
            padding: 8px;
            font-weight: bold;
            color: #FEFFE1;
            border: solid 2px #0E646C !important
        }
        
        /*Button*/
        .bookbtn {
            font-size: large;
            width: 40%;
            font-weight: bold;
        }
        .notification {
            margin-left: 5%;
            font-size: large;
            width: 40%;
            font-weight: bolder;
            margin-top: 20px;
            background-color: #0E646C;
            color: white;
            border: none;
            padding: 15px 15px;
            border-radius: 8px;
            cursor: pointer;
            transition: transform 0.3s ease;
        }
        
        .btn{
            display: flex;
            justify-content: flex-start;
            gap: 20px;
            margin-top: 20px;
        }
         #bookBtn {
            margin-top: 20px;
            background-color: #0E646C;
            color: white;
            border: none;
            padding: 15px 15px;
            border-radius: 8px;
            cursor: pointer;
            transition: transform 0.3s ease;
        }

        #bookBtn:hover {
            background-color: #f3eed5;
            color:#151A25;
            transform: scale(1.01) translateY(-10px);
        }
        
        .notification:hover {
            background-color: #f3eed5;
            color: #151A25;
            transform: scale(1.01) translateY(-10px);
        }