<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>CURA - Smart Healthcare AI</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/homePage.css') }}">
 

</head>

<body>
  <header>
  
    <img src="{{ url_for('static', filename='images/curalogo.png') }}" alt="CURA logo">

  </header>
  <div id="container">
    <h1>CURA</h1>
    <div class="top">
      <div class="left">
        <h2><span style="font: bold; color:#F0F1C5 ;font-size:larger ; background:none">Welcome</span> to the <span >future</span> of smart healthcare</h2>
      </div>
       <!-- Right section -->
      <div class="right">
        discover how our AI system predicts hospital crowding, reduces waiting times,
        and helps hospitals work more efficiently.
      </div>
    </div>

    <div class="choose">
      Making Hospitals Smarter with AI - Choose your role to continue.
    </div>

    <div class="buttons">
      <button class="btn btn-patient" id="patientBtn">Continue as Patient</button>
      <button class="btn btn-hospital" id="hospitalBtn">Continue as Hospital</button>
    </div>
  </div>

  <footer>
      Developed by Team 0xC0DE © 2025 All Rights Reserved


  </footer>


  <script>
    document.getElementById("patientBtn").addEventListener("click", () => {
      alert("Redirecting to Patient section...");
      window.location.href = "/patient";
    });

    document.getElementById("hospitalBtn").addEventListener("click", () => {
      alert("Redirecting to Hospital section...");
       window.location.href = "/hospital";
    });

  </script>
</body>
</html>
